node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

.next
out
build
dist

.git
.github
.gitignore

.env
.env.local
.env.development
.env.test
.env.production
*.env

.DS_Store
Thumbs.db
.idea
.vscode
*.tsbuildinfo
